.form-container {
  display: block;
  max-width: 300px;
  margin: auto;

  background: white;
  padding: 48px;
  border-radius: 16px;
}

.form-container mat-form-field {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px;
}

.width {
  width: 100%;
}

.text-center {
  text-align: center;
}
