<div class="form-container mat-elevation-z5">
    <h1>Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <mat-form-field class="full-width">
        <mat-label>Usuário</mat-label>
        <input autofocus formControlName="email" matInput placeholder="Usuário" required type="text">
        <mat-error *ngIf="email?.errors?.['required'] && email?.touched">
          O email é obrigatório.
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email'] && email?.touched " >
          O formato do email está incorreto.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Senha</mat-label>
        <input formControlName="password" matInput placeholder="Senha" required type="password">
        <mat-error *ngIf="password?.errors?.['required'] && password?.touched">
          A senha é obrigatória.
        </mat-error>
      </mat-form-field>
      <div class="center margin-top">
        <button mat-raised-button color="primary">Login</button>
      </div>
    </form>
</div>
