mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    .menu-item {
      position: relative;
      margin-left: 8px;
      top: -5px;
    }
  }
}

#outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

.secondary {
  background-color: #fafafa;
}

.submenu {
  font-size: 17px;
}

.header {
  font-size: 17px;
  position: relative;
  margin-left: -7px;
  align-items: center;
  justify-content: center;
}

.header-text {
  justify-content: center;
  margin-left: 7px;
}

mat-list-item.disabled{
  cursor: not-allowed !important;
}


