<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" [opened]="true" [disableClose]="true">

    <mat-nav-list *ngIf="isUserAuthenticated$ | async">

      <mat-list-item (click)="toggleState()">
        <mat-icon mat-list-icon >menu</mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="'cadastro'">
        <mat-icon>group_add</mat-icon>
        <span [@menuAnimation]="state" class="menu-item">Cadastrar</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'patients'">
        <mat-icon>group</mat-icon>
        <span [@menuAnimation]="state" class="menu-item">Listar</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'patients-metrics'">
        <mat-icon>dashboard</mat-icon>
        <span [@menuAnimation]="state" class="menu-item">Métricas</span>
      </mat-list-item>


    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <div id="outer">
      <app-loading></app-loading>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
