<div>
  <mat-card class="mat-elevation-z8">

    <mat-toolbar color="accent">
      <span class="header">Cadastro de pacientes</span>
    </mat-toolbar>

    <form [formGroup]="form" class="margin-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="name"/>
      </mat-form-field>

      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Data de nascimento (dd/mm/aaaa)"
                mask="00/00/0000"
                formControlName="birthDate"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Idade" formControlName="age"/>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <label class="margin-form">Gênero</label>
      <div>
        <mat-radio-group class="item" formControlName="gender">
          <mat-radio-button value="M">Masculino</mat-radio-button>
          <mat-radio-button value="F">Feminino</mat-radio-button>
          <mat-radio-button value="Nao declarado">Não declarado</mat-radio-button>
        </mat-radio-group>
      </div>

      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="CEP" formControlName="cep" mask="00000-000" (input)="checkAddress()"/>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Endereço" formControlName="address" mask=""/>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Bairro" formControlName="district"/>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Cidade" formControlName="city"/>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Estado" formControlName="state"/>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Telefone" formControlName="number" mask="(00) 00000-0000"/>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="full-width">
              <mat-label>Whatsapp</mat-label>
              <mat-select formControlName="whatsapp">
                <mat-option value="Sim">Sim</mat-option>
                <mat-option value="Nao">Não</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Como nos conheceu?</mat-label>
              <mat-select formControlName="origin">
                <mat-option value="N/A">Nenhuma</mat-option>
                <mat-option value="Internet">Internet</mat-option>
                <mat-option value="Anuncio">Anuncio</mat-option>
                <mat-option value="Amigo">Amigo</mat-option>
                <mat-option value="Rede social">Rede social</mat-option>
                <mat-option value="Outros">Outros</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Canal para comunicação</mat-label>
              <mat-select formControlName="bestCommunicationChannel">
                <mat-option value="N/A">Nenhuma</mat-option>
                <mat-option value="Whatsapp">Whatsapp</mat-option>
                <mat-option value="Instagram">Instagram</mat-option>
                <mat-option value="Facebook">Facebook</mat-option>
                <mat-option value="Email">Email</mat-option>
                <mat-option value="Telefone">Telefone</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email"/>
      </mat-form-field>

      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option value="EM TRATAMENTO">EM TRATAMENTO</mat-option>
                <mat-option value="FINALIZADO">FINALIZADO</mat-option>
                <mat-option value="OUTROS">OUTROS</mat-option>
                <mat-option value="AUSENTE">AUSENTE</mat-option>
                <mat-option value="CANCELADO">CANCELADO</mat-option>
                <mat-option value="ATIVO">ATIVO</mat-option>
                <mat-option value="NENHUM">NENHUM</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Criticidade</mat-label>
              <mat-select formControlName="criticity">
                <mat-option value="ALTA">ALTA</mat-option>
                <mat-option value="MÉDIA">MÉDIA</mat-option>
                <mat-option value="BAIXA">BAIXA</mat-option>
                <mat-option value="N/A">NENHUM</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Especialidade" formControlName="speciality"/>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Procedimentos" formControlName="proceeds"/>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field class="full-width">
        <input matInput placeholder="Ações" formControlName="action"/>
      </mat-form-field>


      <mat-form-field class="full-width">
        <input matInput placeholder="Orçamento" formControlName="financial"/>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Valor em aberto" formControlName="openValue"
               (input)="formatCurrencyOnKeyPress('openValue')"
               (click)="formatCurrencyOnKeyPress('openValue')"/>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Valor total do tratamento" formControlName="investedValue"
               (input)="formatCurrencyOnKeyPress('investedValue')"
               (click)="formatCurrencyOnKeyPress('investedValue')"/>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Observações" formControlName="observations"/>
      </mat-form-field>

      <mat-card-actions class="center-button">
        <button mat-raised-button class="button-margin" color="accent" (click)="submitBtnClick()">Salvar</button>
        <button mat-raised-button class="button-margin" (click)="onBackPressed()">Cancelar</button>
      </mat-card-actions>

    </form>
  </mat-card>
</div>
