mat-card {
  max-width: 70%;
  margin: 2em auto;
  border-radius: 8px;
  overflow: hidden !important;
  display: flex;
}

.selected {
  background-color: #007bff;
  color: #fff;
}

button {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.selected:focus,
.selected:active {
  background-color: #0062cc;
  color: #fff;
  outline: none;
}
.container-wrap {
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
}

.header {
  margin: auto;
}

.margin-form {
  margin: 12px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-margin {
  margin-left:10px;
}
