mat-card {
  max-width: 70%;
  margin: 2em auto;
  border-radius: 8px;
  overflow: hidden !important;
  display: flex;
}

.camera-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.photo-cam {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 10px;
}

canvas {
  max-width: 100%;
  max-height: 100%;
}

.file-upload {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.upload-button {
  display: flex;
}

.capture-button {
  margin-left: 10px;
}

#imageElement {
  display: none;
}

.container-wrap {
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
}

.header {
  margin: auto;
}

.margin-form {
  margin: 12px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-margin {
  margin-left:10px;
}
