
  <div class="container" *ngIf="!loading">
    <h1>Pacientes</h1>
    <div>
      <mat-form-field appearance="fill" class="search-container" color="accent">
        <input (keyup)="filterData($event)" autocomplete="off" matInput placeholder="Pesquisar">
      </mat-form-field>
    </div>

    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Nome</th>
        <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th *matHeaderCellDef mat-sort-header mat-header-cell>Gênero</th>
        <td *matCellDef="let element" mat-cell>{{ element.gender }}</td>
      </ng-container>

      <ng-container matColumnDef="lastVisit">
        <th *matHeaderCellDef mat-header-cell>Ultima visita</th>
        <td *matCellDef="let element" mat-cell>{{ element.lastVisit }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-sort-header mat-header-cell>Status</th>
        <td *matCellDef="let element" mat-cell>{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th *matHeaderCellDef mat-header-cell>Telefone</th>
        <td *matCellDef="let element" mat-cell>{{ element.number }}</td>
      </ng-container>

      <ng-container matColumnDef="whatsapp">
        <th mat-header-cell *matHeaderCellDef>Whatsapp</th>
        <td mat-cell *matCellDef="let element">{{ element.whatsapp | mask:'(00) 0000-0000'}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell>Email</th>
        <td *matCellDef="let element" mat-cell>{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="anniversaryMonth">
        <th *matHeaderCellDef mat-header-cell>
          Mês do aniversário
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.anniversaryMonth }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>
          <button (click)="onAdd()" aria-label="Adicionar paciente" mat-mini-fab>
            <mat-icon>add</mat-icon>
          </button>
        </th>

        <td *matCellDef="let element" mat-cell>
          <button [matMenuTriggerFor]="menu" color="accent" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="onUpdate(element)" mat-menu-item>Editar paciente</button>
            <button (click)="onDelete(element)" mat-menu-item>Apagar paciente</button>
          </mat-menu>
        </td>

      </ng-container>


      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

    </table>
    <mat-paginator
                   [length]="dataSource.data.length"
                   [pageSizeOptions]="[2,5, 10, 25, 100]"
                   [pageSize]="10"
                   class="mat-elevation-z8">
    </mat-paginator>
  </div>

