table {
  width: 100%;
  display: table-row;
}

mat-card {
  border-radius: 8px;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
}

th {
  text-align: center
}

td {
  text-align: center
}

.button-margin {
  margin-left: 8px;
}

.mat-accent {
  color: #b3893d;
}

html { background-color: #f6f8f9; }


