
 <div *ngIf="patientsList | async as patients; else loading">
  <h1>PACIENTES</h1>
  <mat-card class="mat-elevation-z8">

    <mat-form-field>
      <input matInput placeholder="Procurar paciente" (input)="onFilterByName($event)" >
    </mat-form-field>

    <table
    mat-table
    [dataSource]="patients"
    matSort
    class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell  *matHeaderCellDef>Gênero</th>
        <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
      </ng-container>

      <ng-container matColumnDef="lastVisit">
        <th mat-header-cell *matHeaderCellDef>Ultima visita</th>
        <td mat-cell *matCellDef="let element">{{ element.lastVisit }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>Telefone</th>
        <td mat-cell *matCellDef="let element">{{ element.number }}</td>
      </ng-container>

      <ng-container matColumnDef="whatsapp">
        <th mat-header-cell *matHeaderCellDef>Whatsapp</th>
        <td mat-cell *matCellDef="let element">{{ element.whatsapp }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="anniversaryMonth">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by anniversary month">
          Mês do aniversário
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.anniversaryMonth }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-mini-fab aria-label="Adicionar paciente" (click)="onAdd()">
            <mat-icon>add</mat-icon>
          </button>
        </th>

        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onUpdate(element)">Editar paciente</button>
            <button mat-menu-item (click)="onDelete(element)">Apagar paciente</button>
          </mat-menu>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
 </div>

<ng-template #loading>
  <mat-spinner color="accent" diameter="64"></mat-spinner>
</ng-template>
