.container{
  display: flex;
  flex-direction: column;
}

.search-container{
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 100%;
}


td {
  color:
    #4f5b6e
;
  font-size: 15px;

}

th {
  font-weight: bold;
  font-size: 15px;
}

